<h1>Ingresar (Login)</h1>

<!--mat-form-field appearance="fill">
    <mat-label>Ingrese su Correo</mat-label>
    <input matInput placeholder="nombre@gmail.com" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field-->

<form [formGroup]="loginForm">  
  <input type="email" formControlName="email">
  <br>
  <input type="password" formControlName="password">
  <br>
  {{getErrorMessage()}}
  <br>
  <button [disabled]="!loginForm.valid" (click)="ingresar()">Ingresar</button>
</form>

<br>
{{ loginForm.value | json }}

<button mat-button color="primary">Primary</button>
<button mat-raised-button color="primary">Primary</button>